<ion-header>
  <ion-toolbar>
    <ion-title class="fuentes-cards">
      Agregar nuevo libro
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<br>

<ion-content>

  <ion-item>
    <ion-label position="floating" class="labels tamanoletra">Nombre</ion-label>
    <ion-input [(ngModel)]="libro.nombre" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="labels tamanoletra">Foto</ion-label>
    <ion-input [(ngModel)]="libro.url_foto" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="labels tamanoletra">Tipo</ion-label>
    <ion-input [(ngModel)]="libro.tipo" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="labels tamanoletra">Descripción </ion-label>
    <ion-input [(ngModel)]="libro.descripcion" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="labels tamanoletra">Fecha adquisición</ion-label>
    <ion-input [(ngModel)]="libro.fecha_adquisicion" type="date"></ion-input>
  </ion-item>

  <!-- inputs de datos especificos para un libro -->

  <ion-item>
    <ion-label position="floating" class="labels tamanoletra">Autor </ion-label>
    <ion-input [(ngModel)]="libro.autor" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="labels tamanoletra">Editorial </ion-label>
    <ion-input [(ngModel)]="libro.editorial" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="labels tamanoletra">Genero </ion-label>
    <ion-input [(ngModel)]="libro.genero" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="labels tamanoletra">Edición </ion-label>
    <ion-input [(ngModel)]="libro.edicion" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="labels tamanoletra">ISBN </ion-label>
    <ion-input [(ngModel)]="libro.isbn" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="labels tamanoletra">Paginas </ion-label>
    <ion-input [(ngModel)]="libro.paginas" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="labels tamanoletra">Año de publicación </ion-label>
    <ion-input [(ngModel)]="libro.anio_publicacion" type="text"></ion-input>
  </ion-item>

  <br>

  <ion-button expand="full" class="labels fuentes-cards boton-agregar" shape="round" >Agregar Libro</ion-button>

</ion-content>
