<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>
      <ion-img class="logo-container" src="assets/img/loginicon.png" alt="Logo de la aplicación"></ion-img><h1>Home</h1>
    </ion-label>
  </ion-item>

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <img [src]="urlFoto" alt="Imagen de perfil" style="width: 90%;">
          </ion-col>  
          <ion-col size="9">
            <ion-label>{{ username }}</ion-label>
            <br>
            <ion-label>{{ email }}</ion-label>
            <ion-row>
              <ion-col size="2" *ngFor="let titulo of titulos">
                {{ titulo }}
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid> 
    </ion-card-content>
  </ion-card>
  <br>
  <br>
  <ion-button expand="full" (click)="categoria()" class="labels" color="dark">Categoria</ion-button>
  <br>
  <ion-button expand="full" (click)="top10()" class="labels" color="dark">Top 10</ion-button>
  <br>
  <ion-button expand="full" (click)="logrosytitulos()" class="labels" color="dark">Logros y titulos</ion-button>
  <br>
  <ion-button expand="full" (click)="generartarjeta()" class="labels" color="dark">Generar Tarjeta</ion-button>
  <br>
  <ion-button expand="full" [routerLink]="['/acercade']" class="labels" color="dark">Acerca de ...</ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button [routerLink]="['/login']">Salir</ion-button>
    <ion-button>B</ion-button>
    <ion-button>C</ion-button>
  </ion-toolbar>
</ion-footer>