<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>
      <h1>Bienvenido</h1>
    </ion-label>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Usuario</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <!-- Imagen del usuario -->
            <img [src]="urlFoto" alt="Imagen de perfil" style="width: 90%;">
          </ion-col>
  
          <ion-col size="6">
            <!-- Título -->
            <ion-label>{{ username }}</ion-label>
            <br>
            <!-- Email -->
            <ion-label>{{ email }}</ion-label>
  
            <!-- Iconos -->
            <ion-row>
              <ion-col size="2" *ngFor="let titulo of titulos">
                {{ titulo }}
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid> 
    </ion-card-content>
  </ion-card>
  <br>
  <br>
  <ion-button expand="full">Categoria</ion-button>
  <br>
  <ion-button expand="full">Top 10</ion-button>
  <br>
  <ion-button expand="full">Logros y titulos</ion-button>
  <br>
  <ion-button expand="full">Generar Tarjeta</ion-button>
  <br>
  <ion-button expand="full">Acerca de ...</ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button [routerLink]="['/login']">A</ion-button>
    <ion-button>B</ion-button>
    <ion-button>C</ion-button>
  </ion-toolbar>
</ion-footer>