<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>
      <h1>Registro</h1>
    </ion-label>
  </ion-item>

  <br>

  <ion-item>
    <ion-label position="floating" class="labels"><ion-icon name="person-outline" ></ion-icon>  Usuario</ion-label>
    <ion-input [(ngModel)]="username" placeholder="Nombre de usuario"></ion-input>
  </ion-item>

  <br>

  <ion-item>
    <ion-label position="floating" class="labels"><ion-icon name="mail-outline"></ion-icon>  Correo Electrónico</ion-label>
    <ion-input [(ngModel)]="correo" placeholder="Correo Electrónico"></ion-input>
  </ion-item>

  <br>

  <ion-item>
    <ion-label position="floating" class="labels"><ion-icon name="key-outline"></ion-icon>  Password</ion-label>
    <ion-input type="password" [(ngModel)]="clave1" placeholder="*********"></ion-input>
  </ion-item>

  <br>

  <ion-item>
    <ion-label position="floating" class="labels"><ion-icon name="key-outline"></ion-icon>  Repetir Password</ion-label>
    <ion-input type="password" [(ngModel)]="clave2" placeholder="*********"></ion-input>
  </ion-item>

  <br>

  <ion-item>
    <ion-label position="floating" class="labels"><ion-icon name="image-outline"></ion-icon>  URL Foto Usuario</ion-label>
    <ion-input type="url" [(ngModel)]="url"></ion-input>
  </ion-item>
  <br>
  <ion-button expand="full" (click)="registrarUsuario()" >Guardar y registrarse</ion-button>
  <ion-button expand="full" [routerLink]="['/login']">Cancelar</ion-button>
  
</ion-content>
