<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>
      <h1 class="fuentes-cards tamanoletra">Colecciones</h1>
    </ion-label>
  </ion-item>

  <ion-card>
  <ion-card-header>
    <!-- Título del card -->
    <ion-card-title class="fuentes-cards tamanoletra">Usuario</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <!-- Imagen del usuario -->
        <ion-col size="6">
          <img src="/lizard/src/assets/img/logo01.png" alt="Imagen de perfil" style="width: 90%;">
        </ion-col>

        <ion-col size="6">
          <!-- Título -->
          <ion-label>Desarrollador</ion-label>
          <br>
          <!-- Email -->
          <ion-label>juanexample.com</ion-label>

          <!-- Iconos -->
          <ion-row>
            <ion-col size="2">
              <img src="/lizard/src/assets/img/estrella.png" style="width: 100%;">
            </ion-col>
            <ion-col size="2">
              <img src="/lizard/src/assets/img/estrella.png" style="width: 100%;">
            </ion-col>
            <ion-col size="2">
              <img src="/lizard/src/assets/img/estrella.png" style="width: 100%;">
            </ion-col>
            <ion-col size="2">
              <img src="/lizard/src/assets/img/estrella.png" style="width: 100%;">
            </ion-col>
            <ion-col size="2">
              <img src="/lizard/src/assets/img/estrella.png" style="width: 100%;">
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
  </ion-card>
  <br>
  <br>
  <ion-button class="boton-agregar" shape="round" expand="full">Categoria</ion-button>
  <br>
  <ion-button class="boton-agregar" shape="round" expand="full">Top 10</ion-button>
  <br>
  <ion-button class="boton-agregar" shape="round" expand="full">Logros y titulos</ion-button>
  <br>
  <ion-button class="boton-agregar" shape="round" expand="full">Generar Tarjeta</ion-button>
  <br>
  <ion-button class="boton-agregar" shape="round" expand="full">Acerca de ...</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar mode="ios" class="botones-footer">
    <div style="text-align: center;">
    <ion-button [routerLink]="['/login']">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/home']">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/tarjeta']">
      <ion-icon name="id-card-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="volverAtras()">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-button>
  </div>
  </ion-toolbar>
</ion-footer>