<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="fuentes-cards" ><ion-icon name="game-controller-outline"></ion-icon> Juegos</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content [fullscreen]="true">
  <ion-button expand="full" [routerLink]="['/modal-crear-videojuego']" (click)="abrirModal()" class="labels fuentes-cards boton-agregar" shape="round" >Agregar (+)</ion-button>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
      <ion-card>
        <img src="../../assets/img/JUEGOS04.png"/>
        <ion-card-header>
        <ion-card-title class="labels fuentes-cards">Título Juego</ion-card-title>
        <ion-card-subtitle>Plataforma Juego</ion-card-subtitle>
        </ion-card-header>
    
        <ion-card-content>
        Datos del juego
        </ion-card-content>
      </ion-card>
      </ion-col>

      <ion-col size="6">
        <!--Si se quiere usar otra card, copiar la de arriba-->
      </ion-col>
    </ion-row> 
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar mode="ios" class="botones-footer">
    <div style="text-align: center;">
    <ion-button [routerLink]="['/login']">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/home']">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/tarjeta']">
      <ion-icon name="id-card-outline"></ion-icon>
    </ion-button>
  </div>
  </ion-toolbar>
</ion-footer>