<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="fuentes-cards"><ion-icon name="happy-outline"></ion-icon> Acerca de</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label class="fuentes-cards">Equipo Desarrollador</ion-label>
  </ion-item>
  <br>
  <ion-list>
    <ion-item><ion-label class="sombrerines fuentes-cards"><img src="../../assets/img/WIZARD01.png" style="width: 20%">&nbsp;&nbsp;&nbsp;Genoveva Villablanca</ion-label></ion-item>
    <ion-item><ion-label class="sombrerines fuentes-cards"><img src="../../assets/img/WIZARD02.png" style="width: 20%">&nbsp;&nbsp;&nbsp;Wladimir Urzúa</ion-label></ion-item>
    <ion-item><ion-label class="sombrerines fuentes-cards"><img src="../../assets/img/WIZARD03.png" style="width: 20%">&nbsp;&nbsp;&nbsp;Félix Donoso</ion-label></ion-item>
  </ion-list>
  
  <ion-card>
    <ion-card-header>
      <div style="text-align: center;">
        <ion-card-title class="fuentes-cards">Reddit</ion-card-title>
      </div>
    </ion-card-header>
  
    <ion-card-content>
      <div style="text-align: center;">
        <a href="https://www.reddit.com/r/lizardapp/" target="_blank">
          <ion-button class="botones-footer" shape="round">CLICK AQUI</ion-button>
        </a>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar mode="ios" class="botones-footer">
    <div style="text-align: center;">
    <ion-button [routerLink]="['/login']">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/home']">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/tarjeta']">
      <ion-icon name="id-card-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="volverAtras()">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-button>
  </div>
  </ion-toolbar>
</ion-footer>