.botones-footer {
    --ion-color-primary: crimson;
}

.boton-agregar {
    --ion-color-primary: crimson;
}

ion-button {
    --color: black
}

.sombrerines {
    align-items: center;
}

ion-label {
    width: 70%;
}