<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>top10</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">top10</ion-title>
    </ion-toolbar>
  </ion-header>

  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Último Título</th>
        <th>Cantidad de Logros</th>
        <th>Cantidad de Títulos</th>
        <th>Cantidad de Ítems Totales</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of listaUsuariosTop10">
        <td>{{ usuario.username }}</td>
        <td>{{ usuario.ultimo_titulo }}</td>
        <td>{{ usuario.cantidad_logros }}</td>
        <td>{{ usuario.cantidad_titulos }}</td>
        <td>{{ usuario.cantidad_items_totales }}</td>
      </tr>
    </tbody>
  </table>
</ion-content>
