.botones-footer {
    --ion-color-primary: crimson;
}

.boton-agregar {
    --ion-color-primary: crimson;
}

ion-button {
    --color: black
}

table {
    width: fit-content;
    font-size: xx-small;
    border-collapse: collapse;
    border: 1px solid;
}

tr:nth-child(even) {background-color: #f2f2f2;}

th, td {
    border-bottom: 1px solid #ddd;
  }