.botones-footer {
    --ion-color-primary: crimson;
}

.boton-agregar {
    --ion-color-primary: crimson;
}

ion-button {
    --color: black
}

table {
    width: fit-content;
    font-size: smaller;
    border-collapse: collapse;
    border: 1px solid;
    background-color: black;
}

th, td {
    border-bottom: 1px solid #ddd;
    background-color: crimson;
    color: black;
  }

.logo-container {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}  

