<ion-content [fullscreen]="true">
  <!-- Primera franja -->
  <ion-row>
    <ion-col size="6">
      <!-- Aquí va la foto de perfil -->
    </ion-col>
    <ion-col size="6">
      <ion-row>
        <!-- Aquí va el username -->
      </ion-row>
      <ion-row>
        <!-- Aquí va el recuadro con texto acerca del usuario -->
      </ion-row>
    </ion-col>
  </ion-row>

  <!-- Segunda franja -->
  <ion-row>
    <ion-col size="6">
      <ion-title>Titulos</ion-title>
      <ion-list>
        <ion-item>Texto 1</ion-item>
        <ion-item>Texto 2</ion-item>
        <ion-item>Texto 3</ion-item>
        <!-- Agrega más items si es necesario -->
      </ion-list>
    </ion-col>
    <ion-col size="6">
      <ion-title>Logros</ion-title>
      <ion-row>
        <!-- Aquí van los 5 iconos de logros -->
      </ion-row>
    </ion-col>
  </ion-row>

  <!-- Tercera franja -->
  <ion-row>
    <ion-col>
      <ion-title>Coleccion</ion-title>
      <table>
        <thead>
          <tr>
            <th>Username</th>
            <th>Último Título</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </ion-col>
  </ion-row>
</ion-content>
