<ion-content [fullscreen]="true">
  <ion-item>
      <ion-label position="floating" class="labels"><ion-icon name="person-outline" ></ion-icon> Usuario</ion-label>
      <ion-input [(ngModel)]="usuario" placeholder="example"></ion-input>
  </ion-item>
  <br>
  <ion-item>
      <ion-label position="floating" class="labels"><ion-icon name="key-outline"></ion-icon> Password</ion-label>
      <ion-input type="password" [(ngModel)]="clave"></ion-input>
  </ion-item>
  <br>
  <ion-button expand="block" (click)="logeado()" class="labels" color="dark">Ingresar</ion-button>
  <br>
  <a href="#" [routerLink]="['/registro']" class="labels" >Crear tu cuenta gratis</a>
  <br>
  <a href="#" [routerLink]="['/resetpass']" class="labels" >Recuperar contraseña</a>
</ion-content>
