   .logo-container {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }  

    .background {
        background: url('../../assets/img/fondologin.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }