<ion-content class="background" [fullscreen]="true">
  <br>
    <ion-img class="logo-container" src="assets/img/loginicon.png" alt="Logo de la aplicación"></ion-img>
    <br>
    <br>
      <ion-input label="Usuario" label-placement="floating" type="text" [(ngModel)]="usuario" fill="outline" class="labels fuentes-cards" shape="round"></ion-input>
    <br>
      <ion-input label="Contraseña" label-placement="floating" type="password" [(ngModel)]="clave" fill="outline" class="labels fuentes-cards" shape="round"></ion-input>

  <br>
  <ion-button expand="full" (click)="logeado()" class="labels fuentes-cards boton-agregar" shape="round">Ingresar</ion-button>
  <br>
  <a href="#" [routerLink]="['/registro']" style="margin: 0 auto; display:block; text-align: center; color: rgb(255, 255, 255); font-size: 20px;" class="labels fuentes-cards" >Crear tu cuenta gratis</a>
  <br>
  <a href="#" [routerLink]="['/resetpass']" style="margin: 0 auto; display:block; text-align: center; color: rgb(255, 255, 255); font-size: 20px;" class="labels fuentes-cards" >Recuperar contraseña</a>
</ion-content>
