<ion-header>
  <ion-toolbar>
    <ion-title class="fuentes-cards">
      Agregar nueva figura
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<br>

<ion-content>

  <ion-item>
    <ion-label position="floating" class="labels tamanoletra">Nombre</ion-label>
    <ion-input [(ngModel)]="figura.nombre" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="labels tamanoletra">Foto</ion-label>
    <ion-input [(ngModel)]="figura.url_foto" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="labels tamanoletra">Tipo</ion-label>
    <ion-input [(ngModel)]="figura.tipo" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="labels tamanoletra">Descripción </ion-label>
    <ion-input [(ngModel)]="figura.descripcion" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="labels tamanoletra">Fecha adquisición</ion-label>
    <ion-input [(ngModel)]="figura.fecha_adquisicion" type="date"></ion-input>
  </ion-item>

  <!-- inputs de datos especificos para una figura -->

  <ion-item>
    <ion-label position="floating" class="labels tamanoletra">Origen </ion-label>
    <ion-input [(ngModel)]="figura.origen" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="labels tamanoletra">Tamaño de la figura </ion-label>
    <ion-input [(ngModel)]="figura.tamano" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="labels tamanoletra">Material </ion-label>
    <ion-input [(ngModel)]="figura.material" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="labels tamanoletra">Empresa </ion-label>
    <ion-input [(ngModel)]="figura.empresa" type="text"></ion-input>
  </ion-item>

  <br>

  <ion-button expand="full" class="labels fuentes-cards boton-agregar" shape="round" >Agregar Figura</ion-button>

</ion-content>
