.botones-footer {
    --ion-color-primary: crimson;
}

.boton-agregar {
    --ion-color-primary: crimson;
}

ion-button {
    --color: black
    
}

.sombrerines {
    display: inline-flex;
    align-items: center;
}

.iconosbotones {
    width: 60%;
    display: inline-flex;
    align-items: center;
}