<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>
      <h1>Categorías</h1>
    </ion-label>
  </ion-item>

  <br>
  <br>
  <ion-button (click)="libros()" expand="full">Libros</ion-button>
  <br>
  <ion-button (click)="figuras()" expand="full">Figuras</ion-button>
  <br>
  <ion-button (click)="replicas()" expand="full">Réplicas de Armas</ion-button>
  <br>
  <ion-button (click)="cartas()" expand="full">Cartas</ion-button>
  <br>
  <ion-button (click)="juegos()" expand="full">Juegos</ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button [routerLink]="['/login']">Salir</ion-button>
    <ion-button>B</ion-button>
    <ion-button>C</ion-button>
  </ion-toolbar>
</ion-footer>
